%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "sample app", "#", id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right#navbar
        %li= link_to "Home", "#{root_path}"
        %li= link_to "Help", "#"
        %li= link_to "Log in", "#"